swiper {
    width: 100%;
    height: 100%;
    
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
   height: calc(100vh);
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* تخصيص لون الأسهم */
.swiper-button-next,
.swiper-button-prev {
  color: #ffb921;
}
.swiper-button-next{
  margin-right: 50px !important;
}
.swiper-button-prev{
  margin-left: 50px !important;
}
/* تخصيص لون النقاط */
.swiper-pagination-bullet {
  background: rgba(255, 185, 33, 0.527); /* لون النقاط عندما لا تكون نشطة */
}

.swiper-pagination-bullet-active {
  background: #ffb921; /* لون النقاط عندما تكون نشطة */
}

@media(max-width:639px){
.img-cars{
  display: none !important;
 /* background-color: #ffb921 !important; */
}
.cars-titles{
  /* background-color: red !important; */
  width: 100% !important;
  align-items: center !important;
}
.cars-titles p{
  text-align: center;
}
}