@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Amaranth", sans-serif;
}
body {
  background-color: #fff;
  /* height: 5000px; */
}
input , textarea , select{
  background-color: #F3F3F3;
}
.active {
  color: #fff !important;
  background-color: #18487078 !important;
}
.about-title {
  font-size: 40px !important;
}
.foot-bg {
  background-image: url("./assets/imgs/carousil/slide1.png");
  background-size: cover;
  background-color: #660000 !important;
}

/*===========================   HEADER =============*/
@media (max-width: 639px) {
  .head-links {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  border: 7px solid #2A2B40;
  background-color: rgb(239, 239, 239);
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  background: #cbcbe266;
 
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #cbcbe266;
}
